html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;  /* force horizontal centering */
  justify-content: flex-start;
  background: #f6f7fb;
}
