.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
  }
  
  .modal-box {
    background: rgb(122, 74, 74);
    padding: 25px;
    border-radius: 12px;
    width: 400px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.15);
  }
  
  .modal-textarea {
    width: 100%;
    height: 120px;
    margin-top: 10px;
    padding: 10px;
  }
  
  .modal-save-btn {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: #6f42c1;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  